@using Microsoft.AspNetCore.Html
@using ZBlog.Params
@model ZBlog.ViewModel.HomeSlugViewModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">@Model.Article.Title</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="#">zblog</a>
            </p>

            <hr>
            <!-- Date/Time -->
            <p>Posted on @Model.Article.UpdatedAt.ToLongDateString()</p>

            <hr>

            <!-- Preview Image -->
            @* <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> *@

            <hr>

            <!-- Post Content -->

            @(new HtmlString(Model.Article.Context))

            <hr>

            <!-- Comments Form -->
            @* <partial name="_Comment" model="typeof(CommentParam)"></partial> *@
            @await Html.PartialAsync("_Comment",Model.CommentViewModel)
            @await Html.PartialAsync("_Commented",Model.Article)
            

            
            

        </div>

        @await Html.PartialAsync("_Sidebar")
    </div>
    <!-- /.row -->
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/comments.js"></script>

}