@using ZBlog.Config
@model ZBlog.Areas.Admin.Dtos.PostEditDto

@{
    ViewData["Title"] = "修改";
}

<h1>修改</h1>

<h4>文章</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control"/>
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context" class="control-label"></label>
                <textarea asp-for="Context" class="form-control"></textarea>
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">分类</label>
                <select asp-for="CategoryId" title="请选择分类" class="form-control  "
                        asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TagIds" class="control-label">标签</label>
                <select asp-for="TagIds" multiple data-live-search="true" title="请选择分类" id="tags" class="form-control selectpicker  "
                        asp-items="@(new SelectList(ViewBag.Tags, "Id", "Name"))">
                </select>
                <span asp-validation-for="TagIds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" title="类型" class="form-control"
                        asp-items="Html.GetEnumSelectList<PostType>()">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control"/>
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateTime" class="control-label"></label>
                <input asp-for="UpdateTime" class="form-control"/>
                <span asp-validation-for="UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script>
        $('#tags').selectpicker('val', [@String.Join(",", Model.TagIds)]);
    </script>


    
}