@using ZBlog.Data
@inject ZBlogContext _context
@{
    var categories = _context.Categories.ToList();
}
<div class="card my-4">
    <div class="card-header">
        分类
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var category in categories)
        {
            <li class="list-group-item">
                <a href="/category/list/@(category.Slug)"> @category.Name</a>
            </li>
        }

    </ul>
</div>