@model ZBlog.Params.CommentParam
<div class="card my-4">
    <h5 class="card-header">发表评论：</h5>
    <div class="card-body">
        <form asp-action="Index" asp-controller="Comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostId"/>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Nickname" class="control-label"></label>
                    <input asp-for="Nickname" class="form-control"/>
                    <span asp-validation-for="Nickname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control"/>
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Context" class="control-label"></label>
                <textarea asp-for="Context"  rows="3" class="form-control"></textarea>
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
