<!-- Search Widget -->
<div class="card my-4">
    <h5 class="card-header">搜索</h5>
    <div class="card-body">
        <div class="input-group">
            <form class="form-inline">
                <input type="text" class="form-control " style="display: inline" name="kw" placeholder="Search for..." onkeydown="if(event.keyCode===13){submi.click()}">
                <span class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
            </form>
        </div>
    </div>
</div>