
<div class="col-md-4">
    @* @await Html.PartialAsync("_Search") *@
     @await Html.PartialAsync("_Categories")
    @await Html.PartialAsync("_Tags")
   
    @await Html.PartialAsync("_Side")
</div>
<!-- Sidebar Widgets Column -->